.product-box
{
    padding: 5px;
    margin:80px 3px 3px 3px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.product-box hr{
   margin-left:0;
   width:50%;
   height:2px;
}
#col-2
{
    max-width: 60%;
    padding-top: 3em;
}
.product-box input{
    margin-left: 55%;
}

.product-box form{
    align-self: flex-end;
}

#titl_prod
{
    padding-bottom: 1em;
}
.product-ul
{
    display:flex;
    align-items: center;
    width: 100%;
    flex-direction: row;
}

.product-box ul li{
    list-style: none;
}

.product-box #parag
{
   max-width: 70%;
}