.product-box
{
    padding: 10px;
    margin:80px 3px 3px 3px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.product-box-form-edit
{
    width: 38%;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
}
input
{
    height: 34px;
}

.prod-buttons
{
    max-width: 30%;
    display: flex;
    justify-content: space-between;
}

.form-edit input[type="text"], input[type="number"], .form-edit textarea
{
    width: 280px;
    background: rgba(240, 240, 240, .9);
    border: 1px solid rgba(33, 37, 41, .2);
    outline-color:#212529;
}

.form-sub
{
    background-color: #212529;
    border: none; outline: none;
    font-size: 17px;
    color: whitesmoke;
    font-weight: 700;
    line-height:0px;
    margin-bottom: 10px;
    padding: 20px;
    
}

#upd-f
{
    border-radius:  2px 10px 2px 2px;
    color:whitesmoke;
    text-decoration: none;
}

#del-f
{
    border-radius:  2px 2px 2px 10px;    
}


.form-edit textarea
{
    width: 350px;
    height: 130px;
    max-height: 240px;
}

.content-edit img{
    max-width: 320px;
    max-height: 320px;
    align-self: center;

}

.product-box hr{
   margin-left:0;
   width:50%;
   height:2px;
}
.content-edit
{
    display: flex;
    justify-content: flex-start;
}

#col-2
{
   width: 720px;
   align-self: flex-start;
}

.product-box form{
    align-self: flex-end;
}

#titl_prod
{
    text-align:center;
    padding-bottom: 1em;
    display: flex;
}

#type_prod
{
    font-size:18px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.product-ul
{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    
}

.product-box ul li{
    list-style: none;
}

